<div class="set"> 
    <form (submit)="uploadImage()">
        <div class="form-group">
          <label>UserName</label>
          <input type="text" class="form-control" [(ngModel)]="blog.UserName"  name="UserName" autocomplete="off" >
        </div>
        
        <div class="form-group">
            <label >Blog Title</label>
            <input type="text" class="form-control" [(ngModel)]="blog.title" name="title" autocomplete="off">
          </div>
    
          <div class="form-group">
            <label >Blog Content</label>
            <textarea class="form-control" rows="3"[(ngModel)]= "blog.Content" name="Content" autocomplete="off"></textarea>
          </div>
          
          
          <div class="form-group">
            <label >Upload Image</label>
            <input type="file" class="form-control-file" (change)="takeimage($event)">
          </div>
              <div class="image">
                <img style="width: 200px; height: 150px;" src="http://localhost:3000/{{blog.image}}" *ngIf = check2  >
                <img style="width: 200px; height: 150px;" [src]="url" *ngIf = check >

            </div>

       
        
        <button type="submit" class="btn mt-2 btn-primary" >Update</button>
      </form>
    </div>